.offer-card{

background:white;

border-radius:18px;

padding:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

position:relative;

transition:.3s;

}

.offer-card:hover{

transform:translateY(-8px);

}

.offer-card img{

width:100%;

height:180px;

object-fit:contain;

margin-bottom:15px;

}

.discount{

position:absolute;

top:15px;

left:15px;

background:#EF4444;

color:white;

padding:6px 12px;

border-radius:20px;

font-size:13px;

font-weight:600;

}

.offer-card h3{

font-family:Poppins;

margin-bottom:8px;

}

.offer-card p{

color:#6B7280;

margin-bottom:18px;

font-size:14px;

}

.offer-card button{

width:100%;

padding:12px;

background:#4F46E5;

color:white;

border:none;

border-radius:12px;

cursor:pointer;

}
