.trending{
margin-top:44px;
}

.title{
display:flex;
justify-content:space-between;
align-items:flex-end;
margin-bottom:24px;
}

.title h2{
font-size:22px;
font-family:Poppins;
font-weight:700;
}

.title p{
font-size:13px;
color:var(--secondary);
margin-top:4px;
}

.title button{
padding:10px 18px;
background:#fff;
color:#4F46E5;
border:1px solid var(--border);
border-radius:10px;
cursor:pointer;
font-weight:600;
transition:.25s;
}

.title button:hover{
background:#EEF2FF;
border-color:#4F46E5;
}

.category-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:22px;
}

@media(max-width:1200px){
.category-grid{
grid-template-columns:repeat(3,1fr);
}
}

@media(max-width:700px){
.category-grid{
grid-template-columns:repeat(2,1fr);
}
}
