.category-card{

background:#fff;

border-radius:18px;

padding:20px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.category-card:hover{

transform:translateY(-8px);

}

.category-image{

width:100px;

height:100px;

margin:auto;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

margin-bottom:18px;

}

.category-image img{

width:65px;

height:65px;

object-fit:contain;

}

.category-card h3{

font-family:Poppins;

font-size:18px;

margin-bottom:6px;

}

.category-card p{

color:#6B7280;

font-size:14px;

}
