.suggested-section{
margin-top:40px;
}

.suggested-head{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
flex-wrap:wrap;
gap:10px;
}

.suggested-head h2{
display:flex;
align-items:center;
gap:10px;
font-family:Poppins;
font-size:24px;
}

.suggested-head span{
color:#6B7280;
font-size:14px;
}

.suggested-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

@media(max-width:1200px){
.suggested-grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.suggested-grid{
grid-template-columns:1fr;
}
}
