.continue{

margin-top:50px;

}

.heading{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.heading h2{

font-family:Poppins;

font-size:28px;

}

.heading button{

padding:10px 20px;

background:#4F46E5;

color:white;
border:none;
border-radius:10px;
cursor:pointer;

}

.scroll-products{

display:flex;

gap:20px;

overflow-x:auto;

padding-bottom:10px;

scroll-behavior:smooth;

}

.scroll-products::-webkit-scrollbar{

height:8px;

}

.scroll-products::-webkit-scrollbar-thumb{

background:#4F46E5;

border-radius:20px;

}
